!!! 5
%html
  %head
    %title= "Phase 4 On Duty"
    %link{href: "/css/main.css", media: "screen", rel: "stylesheet"}
    %meta{'http-equiv' => "refresh", content: 5}
  %body
    %header
      %h1 Phase 4 On Duty for #{ current_day_of_week }
      %p
        %a{href: "/week"} Go to Weekly View

    .container
      - for list in board.lists
        - if list.name == current_day_of_week
          .list
            - for card in list.cards
              .card.daycard
                %h3= card.name
                - for member in card.members
                  %img{src: member.avatar_url}
                  = member.full_name
                  %br
