html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

* { margin: 0; padding: 0; }

body {
  width: 90%;
  margin: 20px auto;
  background: #eee;
}

.timeslot {
  position: relative;
  background: white;
  margin: 10px -10px;
  padding: 0 10px;
  min-height: 50px;
  border-radius: 3px;
  line-height: 50px;
}

.timeslot > .name {
  position: absolute;
  left: 10px;
  top: 0;
  width: 230px;
  font-size: 1em;
  color: #666;
}

.members {
  margin-left: 240px;
  font-size: 0; /* prevent whitespace between inline-block elements */
  border-left: 5px solid #f9f9f9;
  padding-left: 10px;
}

.member {
  position: relative;
  display: inline-block;

  width: 190px;
  margin-right: 10px;

  font-size: 0.8em;
  font-weight: bold;
}

.member .avatar {
  position: absolute;
  left: 0;
  top: 3px;

  margin-right: 10px;
  border-radius: 2px;
  width:  49px;
  height: 49px;
}

.member .name {
  font-size: 14px;
  margin-left: 60px;
}

/* --- */

.perlisism {
  margin-top: 15px;
  font-size: 0.8em;
  color: #aaa;
  line-height: 1.4;
}

.perlisism .author {
  display: block;
  margin-top: 5px;
  margin-left: 10px;
  color: #ccc;
}
